{% extends "layout.html" %} {% block content %}
<style>
  .mark-all-as-btn {
    background-color:#D70040;
    border-color:#D70040;
    color: white; /* Adjust this if you need a different text color */
  }
  .mark-all-as-btn:hover {
    transform: scale(1.05);
    color: white;
  }
</style>

<a href="{{ url_for('index') }}" class="btn btn-secondary btn-sm mb-3 mt-3"
  >Back to Books</a
>

<div class="book-metadata mb-3">
  <div><strong>ID:</strong> {{ book_id }}</div>
  {% if metadata %}
  <div><strong>Title:</strong> {{ metadata.title }}</div>
  <div><strong>Author:</strong> {{ metadata.author }}</div>
  <div><strong>Year:</strong> {{ metadata.rights_date_used }}</div>
  {% endif %}
</div>

<div class="progress mb-3">
  <div
    class="progress-bar"
    role="progressbar"
    style="width: {{ book_completion }}%; background-color: #AFE1AF; color: black; font-weight: 500"
    aria-valuenow="{{ book_completion }}"
    aria-valuemin="0"
    aria-valuemax="100"
  >
    {{ book_completion }}%
  </div>
</div>

<div class="mb-3 d-flex justify-content-end">
  <form method="post">
    <button
      type="submit"
      name="mark_as_state"
      value="{{ mark_as_state }}"
      class="btn mark-all-as-btn"
    >
      Mark all as {{ mark_as_state }}
    </button>
  </form>
</div>

{% for page, text in content %}
<div class="card my-3">
  <div class="card-body">
    <pre>{{ text }}</pre>
    <form method="post" class="annotation-form">
      <input type="hidden" name="page" value="{{ page }}" />
      {% for state in states %}
      <button
        type="submit"
        name="state"
        value="{{ state }}"
        class="btn btn-sm"
        style="background-color: {% if annotations.get(page) == state %}#AFE1AF{% else %}#E5E4E2{% endif %}; color: black;"
      >
        {{ state }}
      </button>
      {% endfor %}
    </form>
  </div>
</div>
{% endfor %}

<nav aria-label="Page navigation" style="margin-top: 4rem; margin-bottom: 2rem">
  <ul class="pagination justify-content-center" style="font-size: 0.875rem">
    {% if page > 1 %}
    <li class="page-item">
      <a
        class="page-link"
        href="{{ url_for('book', book_id=book_id, page=page-1) }}"
        aria-label="Previous"
        style="background-color: white; color: #0f52ba"
      >
        <span aria-hidden="true">&laquo;</span>
        <span class="sr-only">Previous</span>
      </a>
    </li>
    {% else %}
    <li class="page-item disabled">
      <a class="page-link" aria-label="Previous">
        <span aria-hidden="true">&laquo;</span>
        <span class="sr-only">Previous</span>
      </a>
    </li>
    {% endif %} {% if page > 3 %}
    <li class="page-item">
      <a
        class="page-link"
        href="{{ url_for('book', book_id=book_id, page=1) }}"
        style="color: #0f52ba"
        >1</a
      >
    </li>
    <li class="page-item disabled"><span class="page-link">...</span></li>
    {% endif %} {% for p in range(max(1, page - 2), min(total_pages, page + 2) +
    1) %}
    <li class="page-item {% if p == page %}active{% endif %}">
      <a
        class="page-link"
        href="{{ url_for('book', book_id=book_id, page=p) }}"
        style="color: black; {% if p == page %}border-color:#0F52BA; background-color:#0F52BA; color: white{% endif %} {% if p != page %}color: #0F52BA{% endif %}"
        >{{ p }}</a
      >
    </li>
    {% endfor %} {% if page < total_pages - 2 %}
    <li class="page-item disabled"><span class="page-link">...</span></li>
    <li class="page-item">
      <a
        class="page-link"
        href="{{ url_for('book', book_id=book_id, page=total_pages) }}"
        style="color: #0f52ba"
        >{{ total_pages }}</a
      >
    </li>
    {% endif %} {% if page < total_pages %}
    <li class="page-item">
      <a
        class="page-link"
        href="{{ url_for('book', book_id=book_id, page=page+1) }}"
        aria-label="Next"
        style="background-color: white; color: #0f52ba"
      >
        <span aria-hidden="true">&raquo;</span>
        <span class="sr-only">Next</span>
      </a>
    </li>
    {% else %}
    <li class="page-item disabled">
      <a class="page-link" aria-label="Next">
        <span aria-hidden="true">&raquo;</span>
        <span class="sr-only">Next</span>
      </a>
    </li>
    {% endif %}
  </ul>
</nav>

<script>
  $(document).ready(function () {
    $(".annotation-form button").on("click", function (e) {
      e.preventDefault();

      var form = $(this).closest("form");
      var url = form.attr("action") || window.location.href;
      var method = form.attr("method") || "POST";
      var formData = new FormData(form[0]);

      formData.set("state", $(this).val());

      $.ajax({
        type: method,
        url: url,
        data: formData,
        processData: false,
        contentType: false,
        success: function (response) {
          location.reload(); // Reload to update the button states
        },
        error: function (error) {
          console.error("Error:", error);
        },
      });
    });
  });
</script>

{% endblock %}
