{% extends "layout.html" %} {% block content %}
<h1>Settings</h1>
<style>
  .btn-div {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .btn-primary {
    background-color: #c1e1c1; /* Custom color */
    width: 30%;
    font-size: 0.875rem;
    border: 0;
    color: black;
    font-size: 0.875rem;
    text-transform: uppercase;
    font-weight: 600;
  }

  .btn-primary:hover {
    transform: scale(1.05);
    background-color: #b7d7b7;
    color: black;
  }

  .btn-primary:active {
    transform: scale(1.05) !important;
    background-color: #b7d7b7 !important;
    color: black !important;
  }

  .form-label {
    font-size: 0.875rem;
  }
</style>
<div class="container mb-4">
  <form method="post" class="d-flex flex-column">
    <div class="form-group">
      <label for="books_dir" class="form-label">Path to Books Directory</label>
      <input
        type="text"
        class="form-control"
        id="books_dir"
        name="books_dir"
        value="{{ settings['books_dir'] }}"
      />
    </div>
    <div class="form-group">
      <label for="annotations_csv" class="form-label"
        >Path to Annotations CSV</label
      >
      <input
        type="text"
        class="form-control"
        id="annotations_csv"
        name="annotations_csv"
        value="{{ settings['annotations_csv'] }}"
      />
    </div>
    <div class="form-group">
      <label for="books_per_page" class="form-label"
        >Number of Books to Display per Page</label
      >
      <input
        type="number"
        class="form-control"
        id="books_per_page"
        name="books_per_page"
        value="{{ settings['books_per_page'] }}"
      />
    </div>
    <div class="form-group">
      <label for="files_per_page" class="form-label"
        >Number of Book Pages to Display per (Application) Page</label
      >
      <input
        type="number"
        class="form-control"
        id="files_per_page"
        name="files_per_page"
        value="{{ settings['files_per_page'] }}"
      />
    </div>
    <div class="form-group">
      <label for="states" class="form-label">Labels (comma-separated)</label>
      <input
        type="text"
        class="form-control"
        id="states"
        name="states"
        value="{{ settings['states'] }}"
      />
    </div>
    <div class="form-group">
      <label for="metadata_csv" class="form-label">Path to Metadata CSV</label>
      <input
        type="text"
        class="form-control"
        id="metadata_csv"
        name="metadata_csv"
        value="{{ settings['metadata_csv'] }}"
      />
    </div>
    <div class="form-group">
      <label for="mark_as_state" class="form-label"
        >Default Label for "Mark as" Button</label
      >
      <input
        type="text"
        class="form-control"
        id="mark_as_state"
        name="mark_as_state"
        value="{{ settings['mark_as_state'] }}"
      />
    </div>
    <div class="form-group">
      <label for="volume_notes_csv" class="form-label"
        >Path to Volume Notes CSV</label
      >
      <input
        type="text"
        class="form-control"
        id="volume_notes_csv"
        name="volume_notes_csv"
        value="{{ settings['volume_notes_csv'] }}"
      />
    </div>
    <div class="btn-div">
      <button type="submit" class="btn btn-primary">Save</button>
    </div>
  </form>
</div>
{% endblock %}
